---
import { getImage } from 'astro:assets'
import myBackground from '@/assets/klimatyzacja.jpeg'
import { Icon } from 'astro-icon/components'

const optimizedBackground = await getImage({
  src: myBackground,
  quality: 40,
  format: 'avif',
  loading: 'eager',
})
---

<section
  class='relative w-full bg-center bg-cover min-h-[30vh] xl:min-h-screen'
  style={`background-image: url(${optimizedBackground.src});`}
>
  <!-- Overlay bg-gradient-to-br from-[#272D2D]/80 to-[#F6C5AF]/20 -->
  <div class='absolute inset-0 bg-white/40'></div>
  <div class='relative xl:h-dvh z-10 grid md:grid-cols-2'>
    <div
      class='flex flex-col xl:h-full pt-28 pb-12 lg:pb-0 md:pt-36 lg:pt-50 2xl:pt-60 justify-between lg:w-[65%] bg-white/60 lg:bg-secondary'
    >
      <div class='flex flex-col xl:h-full px-4 lg:px-16'>
        <div class='flex flex-col gap-8 xl:gap-12 text-center xl:text-left'>
          <h1 class='text-sm font-bold'>
            Instalator klimatyzacji i rekuperacji Biała Podlaska
          </h1>

          <p
            class='font-semibold text-[#23395B] text-3xl xl:text-4xl 2xl:text-6xl tracking-wide'
          >
            Komfortowy klimat dla Twojego domu
          </p>
          <p class='font-semibold text-base xl:text-2xl'>
            Jesteśmy zespołem instalatorów systemów klimatyzacji i rekuperacji w
            budynkach przemysłowych i mieszkalnych. Działamy w Białej Podlaskiej
            i okolicach.
          </p>
          <div class='flex flex-col xl:flex-row gap-4 text-xl xl:text-2xl z-20'>
            <a
              class='flex bg-primary text-white w-full hover:shadow-lg shadow-primary hover:scale-105 transition-all duration-300 justify-center py-4 px-8 rounded-full'
              href='/kontakt'>Skontaktuj się</a
            >
            <a
              class='flex bg-primary text-white w-full hover:shadow-lg shadow-primary hover:scale-105 transition-all duration-300 justify-center py-4 px-8 rounded-full'
              href='/#certificates'>Certyfikaty</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .double-brand-clip {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
</style>
