---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import P2 from '@/assets/klimatyzacja.avif'
---

<Layout title='404' description='404' keywords='404'>
  <section
    class='flex flex-col pt-24 lg:pt-16 gap-4 items-center justify-center min-h-screen overflow-x-hidden'
  >
    <p class='text-2xl flex flex-col lg:text-5xl/16 tracking-wide'>
      <span>Coś poszło nie tak!</span>
    </p>
    <p class='font-medium text-lg'>
      Strona, której szukasz nie istnieje lub została przeniesiona. Wróć na
      stronę główną.
    </p>
    <div
      class='flex flex-row gap-4 text-lg xl:text-2xl justify-center items-center'
    >
      <a
        href='/'
        class='flex bg-primary rounded-full items-center hover:scale-105 hover:shadow-xl duration-300 transition-all text-white text-base w-max xl:text-2xl py-4 px-8'
      >
        Strona główna
      </a>
    </div>
  </section></Layout
>
