---
import { Icon } from 'astro-icon/components'
---

<section class='grid grid-cols-1 md:grid-cols-2 gap-12 py-8 xl:py-24 px-spaced'>
  <p
    class='flex p-5 bg-white font-semibold text-2xl xl:text-3xl 2xl:text-5xl tracking-wide justify-center items-center text-center rounded-2xl'
  >
    W czym możemy pomóc?
  </p>
  <p
    class='flex font-medium text-xl p-5 order-last md:order-none bg-white items-center text-center md:text-start rounded-2xl'
  >
    Wypełnij formularz lub skontakuj się z nami bezpośrednio telefonicznie aby
    ustalić szczegóły współpracy. Gwarantujemy najwyższej jakości rozwiązania i
    konkurencyjne ceny.
  </p>
  <address
    class='not-italic order-first md:order-none text-white flex flex-col gap-6 text-xl shadow-xl font-semibold bg-primary rounded-2xl p-6'
  >
    <div class='space-y-3'>
      <div>
        <span>e-mail:</span>
        <a href='mailto:kontakt@klimatbp.com'>kontakt@klimatbp.com</a>
      </div>
      <div>
        <span> telefon: </span>
        <a href='tel:+48504450671'>+48 504 450 671</a>
      </div>
      <div>
        <p>NIP: 5372583093</p>
      </div>
    </div>
    <div class='flex w-full h-[1px] bg-white/80'></div>
    <div>
      <p>godziny pracy: 08:00 - 20:00</p>

      <span class='!text-accent !text-base'>(poniedziałek - piątek)</span>
    </div>
    <div class='flex w-full h-[1px] bg-white/80'></div>
    <a
      href='https://www.facebook.com/people/KLIMAT/100082871815377/'
      target='_blank'
      rel='noopener'
      class='flex bg-secondary rounded-full normal-case font-bold items-center h-max min-w-max hover:scale-105 hover:shadow-xl duration-300 transition-all text-primary text-base w-max py-4 px-8'
    >
      Facebook
    </a>
    <iframe
      src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2456.15170098579!2d23.11429551297263!3d52.00411357181345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47219100f176c9bd%3A0x336c07b1c518e699!2sRobotnicza%2038%2C%2021-500%20Bia%C5%82a%20Podlaska!5e0!3m2!1spl!2spl!4v1748248977627!5m2!1spl!2spl'
      class='flex w-full h-full rounded-2xl'
      style='border:0;'
      allowfullscreen=''
      loading='lazy'
      referrerpolicy='no-referrer-when-downgrade'></iframe>
  </address>
  <form
    id='contact-form'
    action='https://formspree.io/f/manjwezb'
    method='POST'
    class='flex flex-col gap-6 bg-white rounded-2xl p-8 w-full'
  >
    <div class='flex flex-col gap-1'>
      <label>Imię i nazwisko</label>
      <input
        type='text'
        name='from_name'
        placeholder='Janusz Kowalski'
        required
        class='px-4 py-4 bg-primary text-white placeholder:text-gray-300 border rounded-lg'
      />
    </div>

    <div class='flex flex-col gap-1'>
      <label>Numer telefonu</label>
      <input
        type='tel'
        name='phone'
        placeholder='+48 123 456 789'
        required
        class='px-4 py-4 bg-primary placeholder:text-gray-300 text-white border border-accent rounded-lg focus:outline-none focus:ring-2 focus:ring-bbrand-100'
      />
    </div>
    <div class='flex flex-col gap-1'>
      <label>Wiadomość</label>
      <textarea
        name='message'
        placeholder='Czego potrzebujesz?'
        rows='6'
        required
        class='px-4 py-4 bg-primary placeholder:text-gray-300 text-white border border-accent rounded-lg focus:outline-none focus:ring-2 focus:ring-bbrand-100 resize-none'
      ></textarea>
    </div>
    <p class='text-sm text-[var(--white-icon)]'>
      Wysyłając formularz potwierdzasz, że znasz i akceptujesz <a
        class='font-bold'
        href='/polityka'>politykę prywatności.</a
      >
    </p>
    <button
      type='submit'
      class='px-4 py-4 font-semibold bg-secondary text-primary rounded-lg transition-opacity hover:bg-secondary/80'
    >
      Wyśij wiadomość
    </button>
  </form>
  <div
    id='form-message'
    class='hidden justify-center items-center mt-4 text-primary text-lg'
  >
    ✅ Thank you for your message!
  </div>
</section>

<style>
  label {
    color: var(--color-primary);
  }
</style>
